.navbar-color {
  background-color: #ffffff;
}

.pagination-position {
  display: flex;
  justify-content: space-around;
}

.top-position {
  margin-top: 21px;
}

.pairing-button {
  margin-left: 1005px;
}

.pairing-border {
  border:4px dotted powderblue;
}
