<nav class="navbar navbar-expand-sm navbar-light navbar-color">
  <div class="container-fluid">
    <a class="navbar-brand">
      participants Leaderboard
    </a>
    <div class="d-flex">
      <input class="form-control mr-sm-2" type="text" placeholder=" new team name" aria-label="Search"
        [(ngModel)]="newTeamName">
      <button class="btn btn-secondary" (click)="addNewTeam(newTeamName)" type="submit">Add</button>
    </div>
    <div class="d-flex">
      <input class="form-control mr-sm-2" type="text" placeholder="team name or score" aria-label="Search"
        [(ngModel)]="searchParam">
      <button class="btn btn-secondary" (click)="onSearch(searchParam)" type="submit">Search</button>
    </div>
  </div>
</nav>

<div class="container top-position">

  <!-- Alert -->
  <div [ngClass]="{'alert alert-primary alert-dismissible fade show': updateSuccess, 
                   'alert alert-success alert-dismissible fade show': createSuccess, 
                   'alert alert-warning alert-dismissible fade show': deleteSuccess,
                   'alert alert-danger alert-dismissible fade show': errorFlag}" 
                   role="alert" *ngIf="showAlert">

    <button type="button" class="close" (click)="dismissAlert()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
                   
    <strong *ngIf="createSuccess">The team has been inserted successfully</strong>
    <strong *ngIf="updateSuccess">The pairing results has been submitted successfully</strong>
    <strong *ngIf="deleteSuccess">The team entry has been deleted successfully</strong>
    <strong *ngIf="errorFlag">{{errmsg}}</strong>
    !!
  </div>

  <br>

  <div *ngIf="dataFound">
    <label for="sel1">Results per page:</label>
    <select class="btn btn-light" id="sel1" (change)="dropDownHandler($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to this Team's Entry?</p>
        <p>Team Name: {{deleteingTeam.team_name}}</p>  
        <p>Wins: {{deleteingTeam.wins}}</p> 
        <p>Losses: {{deleteingTeam.losses}}</p>     
        <p>Ties: {{deleteingTeam.ties}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTeam(deleteingTeam._id)">Yes Delete</button>
      </div>
    </div>
  </div>
</div>

  <table class="table table-striped top-position" *ngIf="dataFound">
    <thead>
      <tr style="text-align: center;">
        <th (click)="sort('team_name')">Team Name&nbsp;<i class="fa fa-sort"></i></th>
        <th>Wins</th>
        <th>Looses</th>
        <th>Ties</th>
        <th (click)="sort('score')">Score&nbsp;<i class="fa fa-sort"></i></th>
        <th>Select Teams</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr style="text-align: center;"
        *ngFor="let participant of participants | orderBy: key: sortReverse | paginate: {itemsPerPage: resultsPerPage, currentPage: currentIndex}; let i = index;">
        <td>{{participant.team_name}}</td>
        <td>{{participant.wins}}</td>
        <td>{{participant.losses}}</td>
        <td>{{participant.ties}}</td>
        <td>{{participant.score}}</td>
        <td><input type="checkbox" class="form-check-input" value={{participant.team_name}} (click) = "pairingCheckbox($event, participant,i)"></td>
        <button class="delete-button-space btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="deleteTeamDetails(participant)">Delete Entry</button> 
      </tr>
    </tbody>
  </table>
  <br>
  <div *ngIf="enablePairing">
    <label for="pairing-teams">Teams chosen for pairing:</label>
    <br>
    <p class="form-check-inline"> <b>{{pairingTeamOne}}</b></p>
    <div class="form-check-inline" *ngFor="let declaration of PairingDeclarations">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="teamoneoptradio"
        (change)="radioChangeHandler($event)" value="teamOne{{declaration}}">{{declaration}}
      </label>
    </div>
    <br>
    <p class="form-check-inline"> <b>{{pairingTeamTwo}}</b></p>
    <div class="form-check-inline" *ngFor="let declaration of PairingDeclarations">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="teamtwooptradio"
        (change)="radioChangeHandler($event)" value="teamTwo{{declaration}}">{{declaration}}
      </label>
    </div>
    <button class="btn btn-primary pairing-button" (click)="submitPairingResults()">pair teams</button>
    <br>
  </div>
  <div class="pagination-position" *ngIf="dataFound">
    <pagination-controls (pageChange)="currentIndex = $event"></pagination-controls>
  </div>
</div>
